extends ./parts/layout.jade
block vars
    - page = 'Blank';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li.active Blank
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .template.template__blank
            .row
                .col-md-12
                    .panel.panel-danger
                        .panel-heading
                            h3.panel-title Blank Page
                        .panel-body
                            p This is a blank page.

