<!doctype html>
<html>
<head>
    <title>SudoCall</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/appstyle.css">
</head>

<body>
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
      <li><a href="#!">one</a></li>
      <li><a href="#!">two</a></li>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <!-- NAV BAR -->
    <nav class='teal'>
        <div class="nav-wrapper">
          <a class="brand-logo">SudoCall</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= agent.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
    </nav>
    <!-- END NAV BAR -->

    <div class='row main-call-status'>
        <div class='col s12'>
            <h4 class='call-status col s6'>Offline...</h4>
            <div class='agent-info css-main-power col s6 right-align'>
                <div class="switch">
                    <label>
                      Off
                      <input type="checkbox" class='js-main-power'>
                      <span class="lever"></span>
                      On
                    </label>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class='row'>
        <div class='col s8 main-script'>
            <div class='current-call-main'>
                <i class='large material-icons waiting-phone'>settings_phone</i>
                <div class='caller-left-info'>
                <div class='col s7'>
                <span class='caller-first-name'></span>
                <span class='caller-last-name'></span>
                </div>
                <div class='col s3'>
                <span class='caller-phone-number pull-right'></span>
                </div>
                </div>
            </div>
            <div class='row main-buttons'>
            <div class='js-hang-up col s9'>
            </div>
            <div class='js-transfer col s3'>
            </div>
            </div>
        </div>
        <div class='col s4 main-info'>
            <div class="row">
            <h4 class='center-align'>Caller Information</h4>
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="first_name" type="text" class="validate first_name_field">
                      <label for="first_name" class='first_name_label'>First Name</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="last_name" type="text" class="validate last_name_field">
                      <label for="last_name" class='last_name_label'>Last Name</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="phone_number" type="text" class="validate phone_number_field">
                      <label for="phone_number" class='phone_number_label'>Phone Number</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="date" class="datepicker dob-field">
                      <label for="dob" class='dob_label active'>Date of Birth</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="zip_code" type="text" class="validate zip_code_field">
                      <label for="zip_code" class='zip_code_label'>Zip Code</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="city" type="text" class="validate city_field">
                      <label for="city" class='city_label'>City</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="state" type="text" class="validate state_field">
                      <label for="state" class='state_label'>State</label>
                    </div>
                    <div class="input-field col s12">
                        <select type='text' name='accidents' class='accidents_field'>
                          <option value="0" selected>None</option>
                          <option value="1">1</option>
                          <option value="2">2+</option>
                        </select>
                        <label>Accidents</label>
                    </div>
                    <div class="input-field col s12">
                        <select type='text' name='dui' class='dui_field'>
                          <option value="0" selected>None</option>
                          <option value="1">1</option>
                          <option value="2">2+</option>
                        </select>
                        <label>DUI</label>
                    </div>
                    <div class="input-field col s12 notes-field">
                      <textarea name="notes" class="materialize-textarea"></textarea>
                      <label for="notes">Notes</label>
                    </div>
                  </div>
                </form>
              </div>
        </div>

    </div>

    <!-- display call status in this paragraph tag -->

 
    <!-- include the Twilio Client JavaScript SDK -->
    <script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>
 
    <!-- include jQuery to make DOM manipulation and event handling nicer -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>
 
    <!-- accept incoming calls to this client -->
    <script type="text/javascript">
        var powerOnAudio = document.createElement('audio');
        powerOnAudio.setAttribute('src', 'https://static.twilio.com/libs/twiliojs/refs/d682d91/sounds/outgoing.mp3');
        var powerOffAudio = document.createElement('audio');
        powerOffAudio.setAttribute('src', 'https://static.twilio.com/libs/twiliojs/refs/d682d91/sounds/incoming.mp3');
        $.get();

        var power = 1;
        // Set up the Twilio "Device" (think of it as the browser's phone) with
        // our server-generated capability token, which will be inserted by the
        // EJS template system:
        Twilio.Device.setup('<%= token %>', { audioConstraints: true } );

        $('.js-main-power').click(function() {
            power++;
            powerColorStatus();
        });

        function powerColorStatus() {
            if (power % 2 === 0) {
                $('.js-main-power').removeClass('red-power');
                $('.js-main-power').addClass('green-power');
                $('.call-status').html('Waiting...');
                    powerOnAudio.play();
            } else {
                $('.js-main-power').removeClass('green-power');
                $('.js-main-power').addClass('red-power');
                $('.call-status').html('Offline...');
                    powerOffAudio.play();
            }
        }
        // Register an event handler to be called when there is an incoming
        // call:
        Twilio.Device.incoming(function(connection) {
            //For demo purposed, automatically accept the call
            if (power % 2 === 0) {
                connection.accept();
                // Current Incoming Caller Info
                grabCallInfo();
            } else {
                connection.ignore();
            }
        });

        function changeCallStatus(caller) {
            $('.call-status').html('Call in progress...');
            $('.waiting-phone').hide();
            $('.js-hang-up').html('<button id="hangup" class="waves-effect waves-light btn red darken-2">Hang Up</button>');
            $('.js-transfer').html('<button class="waves-effect waves-light btn green darken-2 js-transfer-button">Transfer</button>');
            $('.caller-phone-number').html(caller.from);
            $('.caller-phone-number').attr("data-sid", caller.from);
            $('.caller-first-name').html("Julian");
            $('.caller-last-name').html("Guterman");


            // Add Info To Right Column (Main Call Info)
            $('.phone_number_field').val(caller.from);
            $('.phone_number_label').addClass('active');

            $('.zip_code_field').val(caller.zipCode);
            $('.zip_code_label').addClass('active');

            $('.city_field').val(caller.city);
            $('.city_label').addClass('active');

            $('.state_field').val(caller.state);
            $('.state_label').addClass('active');


        }
 
        // Register an event handler for when a call ends for any reason
        Twilio.Device.disconnect(function(connection) {
            $('.call-status').html('Waiting...');
            $('.js-hang-up').empty();
            $('.js-transfer').empty();

            emptyCallerInfo();
            $('.waiting-phone').show();
        });

        // Add a click event for the button, which will hang up the current
        // call when clicked:
        $('.js-hang-up').click(function() {
            Twilio.Device.disconnectAll();
            // Top Left Call Status
            $('.call-status').html('Waiting...');
            $('.js-hang-up').empty();
            $('.js-transfer').empty();
            $('.waiting-phone').show();
        });

        $('.js-transfer').click(function() {
            var sid = $('.caller-phone-number').data("sid");
            console.log(sid);
            $.ajax({

                type: 'POST',

                url: '/transfer_to_agent',

                data: {
                    conferenceName: sid
                },

                success: function(response) {
                    console.log("Transfer Started");
                    // console.log(response);
                },

                error: function(error) {
                    console.log(error);
                }

            });

            $('.js-transfer-button').attr('disabled', true);
        });

        function emptyCallerInfo() {
            $('.caller-phone-number').empty();
            $('.caller-first-name').empty();
            $('.caller-last-name').empty();

            $('.phone_number_field').val("");
            $('.phone_number_label').removeClass('active');

            $('.zip_code_field').val("");
            $('.zip_code_label').removeClass('active');

            $('.city_field').val("");
            $('.city_label').removeClass('active');

            $('.state_field').val("");
            $('.state_label').removeClass('active');
        }

        function grabCallInfo() {
            $.ajax({

                type: 'GET',

                url: '/currentCall',

                success: function(response) {
                    // console.log(response);
                    changeCallStatus(response);
                },

                error: function(error) {
                    console.log(error);
                }

            });
        }


        // // Make an outbound call to the number given in the text field:
        // $('#call').on('click', function() {
        //     // The properties of this object will be sent as POST
        //     // Parameters to URL which generates TwiML.
        //     Twilio.Device.connect({
        //         CallerId:'+14505556677', // Replace this value with a verified Twilio number:
        //                                  // https://www.twilio.com/user/account/phone-numbers/verified
        //         PhoneNumber:$('#number').val() //pass in the value of the text field
        //     });
        // });

    $(document).ready(function() {
        $('select').material_select();

        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 216 // Creates a dropdown of 15 years to control year
        });
    });


    </script>
     <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
</body>
</html>