<!doctype html>
<html ng-app="mediaGen">
<head>
    <title>MediaGen</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/stylesheets/appstyle.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.min.js"></script><!-- load angular -->
    <script src="angular/controllers/main.js"></script> <!-- load up our controller -->
    <script src="angular/services/calls.js"></script> <!-- load our todo service -->
    <script src="angular/core.js"></script> <!-- load our main application -->

</head>

<body ng-controller="mainController">
    <!-- Dropdown Structure -->
    <ul id="dropdown1" class="dropdown-content">
    <% if (agent.role > 0) { %>
      <li><a href="/admin">Admin</a></li>
    <% } %>
      <li class="divider"></li>
      <li><a href="/logout">Logout</a></li>
      <li class="divider"></li>
      <li><a class="modal-trigger" href="#settings">Modal</a></li>
    </ul>
    <!-- NAV BAR -->
    <nav class='teal main-nav'>
        <div class="nav-wrapper">
          <a class="brand-logo">MediaGen</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="dropdown1"><%= agent.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
          </ul>
        </div>
    </nav>
    <!-- END NAV BAR -->

    <div class='row main-call-status'>
        <div class='col s12 call-status-col z-depth-1'>
            <h4 class='call-status col s3'>Offline...</h4>
            <h4 class='main-timer col s7 right-align'><b class='minute'>0</b><b>:</b><b class='first_second'>0</b><b class='second_second'>0</b></h4>
            <div class='agent-info css-main-power col s2 right-align'>
                <div class="switch">
                    <label style='color: black; font-weight: bold;'>
                      Offline
                      <input type="checkbox" class='js-main-power'>
                      <span class="lever" ng-click="getPotato"></span>
                      Online
                    </label>
                </div>
            </div>
        </div>
        <hr>
    </div>

    <div class='row script-area'>
        <div class='col s8 main-script'>
            <div class='current-call-main'>
                <i class='large material-icons waiting-phone'>settings_phone</i>
                <div class='caller-left-info'>
                  <div class='col s7'>
                    <span class='caller-first-name'></span>
                    <span class='caller-last-name'></span>
                    <div class='current-script'>

                    </div>
                  </div>
                  <div class='col s3'>
                    <span class='caller-phone-number pull-right'></span>
                  </div>
                </div>
            </div>
            <div class='row main-buttons'>
              <div class='js-hang-up col s9'></div>
              <div class='js-transfer col s3'></div>
            </div>
        </div>
        <div class='col s4 main-info'>
            <div class="row">
            <h4 class='center-align'>Caller Information</h4>
                <form class="col s12">
                  <div class="row">
                    <div class="input-field col s12">
                      <input name="first_name" type="text" class="validate first_name_field">
                      <label for="first_name" class='first_name_label'>First Name</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="last_name" type="text" class="validate last_name_field">
                      <label for="last_name" class='last_name_label'>Last Name</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="phone_number" type="text" class="validate phone_number_field">
                      <label for="phone_number" class='phone_number_label'>Phone Number</label>
                    </div>
                    <div class="input-field col s12">
                      <input type="date" class="datepicker dob_field">
                      <label for="dob" class='dob_label'>Date of Birth</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="zip_code" type="text" class="validate zip_code_field">
                      <label for="zip_code" class='zip_code_label'>Zip Code</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="city" type="text" class="validate city_field">
                      <label for="city" class='city_label'>City</label>
                    </div>
                    <div class="input-field col s12">
                      <input name="state" type="text" class="validate state_field">
                      <label for="state" class='state_label'>State</label>
                    </div>
                    <div class="input-field col s12">
                        <select type='text' name='accidents' class='accidents_field'>
                          <option value="0" selected>None</option>
                          <option value="1">1</option>
                          <option value="2">2+</option>
                        </select>
                        <label>Accidents</label>
                    </div>
                    <div class="input-field col s12">
                        <select type='text' name='dui' class='dui_field'>
                          <option value="0" selected>None</option>
                          <option value="1">1</option>
                          <option value="2">2+</option>
                        </select>
                        <label>DUI</label>
                    </div>
                    <div class="input-field col s12 notes-field">
                      <textarea name="notes" class="materialize-textarea"></textarea>
                      <label for="notes">Notes</label>
                    </div>
                  </div>
                </form>
              </div>
        </div>
    </div>

    <nav class='teal darken-4 z-depth-4 footer-nav'>
        <div class="nav-wrapper">
          <a class="brand-logo center" style='color: #212121'>MediaGen</a>
        </div>
    </nav>

    <div id="settings" class="modal">
    <div class="modal-content">
      <h4>Transferring...</h4>
      <hr>

      <div class='available-agents'>
          <div class="progress indeterminate-bar">
              <div class="indeterminate"></div>
          </div>

          <ul class='collection'>
          </ul>

      </div>
    </div>
    <div class="modal-footer">
      <a class=" modal-action modal-close waves-effect waves-red red darken-4 btn save-settings" style='margin-right: 2%;'>Cancel Transfer</a>
    </div>
  </div>
    <!-- display call status in this paragraph tag -->

    <!-- include the Twilio Client JavaScript SDK -->
    <script src="//static.twilio.com/libs/twiliojs/1.1/twilio.min.js"></script>

    <!-- include jQuery to make DOM manipulation and event handling nicer -->
    <script src="//code.jquery.com/jquery-1.9.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>

    <!-- Set Twilio Call Settings -->
    <script type="text/javascript" src='javascripts/call-settings.js?vartoken=<%= token %>&varagent=<%= agent.email %>'></script>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();

        socket.on('message', function(msg){
            console.log(msg);
        });

    </script>

</body>
</html>
