extends ./parts/layout.jade
block vars
    - page = 'Orders';
block main
    .main-heading
        .main-title
            ol.breadcrumb
                li
                    a(href="./") Dashboard
                li.active Orders
        .main-filter
            form.main-filter__search
                .input-group
                    input.form-control(type="text", placeholder="Search...")
                    span.input-group-btn
                        button.btn.btn-default(type="button")
                            .fa.fa-search
    .container-fluid.half-padding
        .datalist.page.page_orders.orders.float-right
            .row
                .col-lg-3.col-md-3.col-sm-12.col-xs-12
                    .orders-preview.datalist-preview
                        .orders-preview__cont
                            .orders-preview__name(title='Id') ID
                            .orders-preview__edit
                                .btn-group.btn-group-sm
                                    button.btn.btn-danger(type="button") Edit
                                    button.btn.btn-danger.dropdown-toggle(type="button", data-toggle="dropdown", aria-haspopup="true", aria-expanded="false")
                                        span.caret
                                    ul.dropdown-menu.dropdown-menu-right
                                        li
                                            a(href="#") Process
                                        li
                                            a(href="#") Finish
                                        li
                                            a(href="#") Delete
                            .orders-preview__props
                                .orders-preview__prop(title='sum')
                                    i.fa.fa-money
                                    span.orders-preview__sum Sum
                                .orders-preview__prop
                                    i.fa.fa-calendar
                                    span.orders-preview__date Date
                                .orders-preview__prop(title='User')
                                    i.fa.fa-user
                                    span.orders-preview__user User
                                .orders-preview__prop(title='Product')
                                    i.fa.fa-cube
                                    span.orders-preview__product Product
                            .orders-preview__note
                                | Aliquam quis turpis eget elit sodales scelerisque. Mauris sit amet eros. Suspendisse accumsan tortor quis turpis. Sed ante.
                .col-lg-9.col-md-9.col-sm-12.col-xs-12
                    .panel.panel-info
                        .panel-heading
                            h3.panel-title Orders
                        .panel-body
                            p You have 26 orders.
                            form.datalist-filter
                                .input-group.datalist-filter__search
                                    input.form-control(type="text", placeholder="Find order")
                                    span.input-group-btn
                                        button.btn.btn-default(type="button", role="button", data-toggle="collapse", data-target="#datalist-filter__detail", aria-controls="users__filter-detail", aria-expanded="false")
                                            .fa.fa-filter
                                .collapse#datalist-filter__detail
                                    .container-fluid.datalist-filter__detail
                                        .row
                                            .col-lg-4.col-md-4.col-sm-12.col-xs-12.input-daterange
                                                .form-group
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-calendar-minus-o
                                                        input.form-control.datalist-filter__from(type="text", value="")
                                                .form-group
                                                    .input-group
                                                        .input-group-addon
                                                            i.fa.fa-calendar-plus-o
                                                        input.form-control.datalist-filter__to(type="text", value="")
                                            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                .form-group
                                                    .input-group.selectize__group
                                                        .input-group-addon
                                                            i.fa.fa-user
                                                        select.datalist-filter__user(placeholder="User")
                                                .form-group
                                                    .input-group.selectize__group
                                                        .input-group-addon
                                                            i.fa.fa-cube
                                                        select.datalist-filter__product(placeholder="Product")
                                            .col-lg-4.col-md-4.col-sm-12.col-xs-12
                                                .form-group
                                                    input.slider#datalist-filter__sum(type="text", name="", value="")
                            .datalist__result
                                ul.nav.nav-tabs(role="tablist")
                                    li.active(role="presentation")
                                        a(href="#new",aria-controls="new", role="tab", data-toggle="tab") New&nbsp;
                                    li(role="presentation")
                                        a(href="#processing",aria-controls="processing", role="tab", data-toggle="tab") Processing&nbsp;
                                    li(role="presentation")
                                        a(href="#finished",aria-controls="finished", role="tab", data-toggle="tab") Finished&nbsp;
                                .tab-content
                                    .tab-pane.active#new(role="tabpanel")
                                        .scrollable.scrollbar-macosx
                                            .container-fluid
                                                include ./include/orders_new.jade
                                    .tab-pane#processing(role="tabpanel")
                                        .scrollable.scrollbar-macosx
                                            .container-fluid
                                                include ./include/orders_processing.jade
                                    .tab-pane#finished(role="tabpanel")
                                        .scrollable.scrollbar-macosx
                                            .container-fluid
                                                include ./include/orders_finished.jade
block css
    link(href='libs/datatables/media/css/dataTables.bootstrap.min.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.default.css', rel='stylesheet')
    link(href='libs/selectize/dist/css/selectize.bootstrap3.css', rel='stylesheet')
    link(href='libs/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css', rel='stylesheet')
    link(href='libs/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css', rel='stylesheet')
    link(href='libs/bootstrap-select/dist/css/bootstrap-select.min.css', rel='stylesheet')
block js
    script(src='libs/datatables/media/js/jquery.dataTables.min.js')
    script(src='libs/datatables/media/js/dataTables.select.js')
    script(src='libs/datatables/media/js/dataTables.bootstrap.js')
    script(src='libs/selectize/dist/js/standalone/selectize.min.js')
    script(src='libs/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')
    script(src='libs/bootstrap-select/dist/js/bootstrap-select.min.js')
    if !release
        script(src='js/template/orders.js')
//
   Created by Егор on 17.01.2016.

