<link rel='stylesheet' href="/stylesheets/script-intro.css">
<div class='script'>
    <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header active"><i class="material-icons">grade</i><em>Intro</em></div>
          <div class="collapsible-body flow-text"><p>Hello, and welcome to my guide! This is <b>Julian</b>, are you looking for an auto <br> insurance quote?</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">perm_identity</i><em>Personal</em></div>
          <div class="collapsible-body flow-text"><p>Great! I just have to confirm a couple things here... <br><br> I see <b>10/07/1995</b> is your date of birth is that correct? <br>
                                                    Perfect! You currently live in <b>Boynton Beach, FL</b> in zipcode <b>33426</b>, right? <br><br> Awesome, just a couple more things.</p></div>
        </li>
        <li>
          <div class="collapsible-header"><i class="material-icons">picture_in_picture</i><em>History</em></div>
          <div class="collapsible-body flow-text"><p>Do you have any accidents that were your fault or DUIs on your record? <br>
                                                    Alright, let me go grab my agent for you, I'm going to put you on a <br>
                                                    brief hold while I get him, alright?
                                                    <br><br>
                                                    Thanks! One second, I'll be right back.</p></div>
        </li>
  </ul>
</div>



<script type='text/javascript'>
    $(document).ready(function(){
        $('.collapsible').collapsible();
    });
</script>
