.demo
    .demo__ico
    .demo__cont
        .demo__settings
            .demo__group
                .demo__label Color theme:
                .demo__themes
                    .demo__theme.demo__theme_active.demo__theme_dark(data-css='css/right.dark.css', title='Dark')
                    .demo__theme.demo__theme_lilac(data-css='css/right.lilac.css', title='Lilac')
                    .demo__theme.demo__theme_light(data-css='css/right.light.css', title='Light')