.template__icons
    .template__icon
        i.fa.fa-battery-3
    .template__icon
        i.fa.fa-camera
    .template__icon
        i.fa.fa-cloud
    .template__icon
        i.fa.fa-comments
    .template__icon
        i.fa.fa-envelope
    .template__icon
        i.fa.fa-gear
    .template__icon
        i.fa.fa-heartbeat
    .template__icon
        i.fa.fa-microphone
    .template__icon
        i.fa.fa-picture-o
    .template__icon
        i.fa.fa-power-off
    .template__icon
        i.fa.fa-retweet
    .template__icon
        i.fa.fa-star-half-empty
    .template__icon
        i.fa.fa-tags
    .template__icon
        i.fa.fa-tv
    .template__icon
        i.fa.fa-times
    .template__icon
        i.fa.fa-trash
    .template__icon
        i.fa.fa-volume-up
    .template__icon
        i.fa.fa-bar-chart
    .template__icon
        i.fa.fa-calculator
    .template__icon
        i.fa.fa-coffee
    .template__icon
        i.fa.fa-credit-card
    .template__icon
        i.fa.fa-fire
    .template__icon
        i.fa.fa-flag
    .template__icon
        i.fa.fa-folder-o
    .template__icon
        i.fa.fa-graduation-cap
    .template__icon
        i.fa.fa-history
    .template__icon
        i.fa.fa-line-chart
    .template__icon
        i.fa.fa-music
    .template__icon
        i.fa.fa-pie-chart
    .template__icon
        i.fa.fa-recycle
    .template__icon
        i.fa.fa-share-alt
    .template__icon
        i.fa.fa-terminal
    .template__icon
        i.fa.fa-unlock-alt
    .template__icon
        i.fa.fa-balance-scale
    .template__icon
        i.fa.fa-bell-o
    .template__icon
        i.fa.fa-book
    .template__icon
        i.fa.fa-calendar
    .template__icon
        i.fa.fa-check-square
    .template__icon
        i.fa.fa-clone
    .template__icon
        i.fa.fa-crop
    .template__icon
        i.fa.fa-diamond
    .template__icon
        i.fa.fa-feed
    .template__icon
        i.fa.fa-flash
    .template__icon
        i.fa.fa-heart
    .template__icon
        i.fa.fa-home
    .template__icon
        i.fa.fa-laptop
    .template__icon
        i.fa.fa-location-arrow
    .template__icon
        i.fa.fa-map-signs
    .template__icon
        i.fa.fa-mobile
    .template__icon
        i.fa.fa-navicon
    .template__icon
        i.fa.fa-paint-brush
    .template__icon
        i.fa.fa-refresh
    .template__icon
        i.fa.fa-rocket
    .template__icon
        i.fa.fa-sort
    .template__icon
        i.fa.fa-tablet
    .template__icon
        i.fa.fa-thumb-tack
    .template__icon
        i.fa.fa-wheelchair
    .template__icon
        i.fa.fa-area-chart
    .template__icon
        i.fa.fa-asterisk
    .template__icon
        i.fa.fa-ban
    .template__icon
        i.fa.fa-barcode
    .template__icon
        i.fa.fa-check
    .template__icon
        i.fa.fa-code
    .template__icon
        i.fa.fa-film
    .template__icon
        i.fa.fa-female
    .template__icon
        i.fa.fa-flask
    .template__icon
        i.fa.fa-key
    .template__icon
        i.fa.fa-leaf
    .template__icon
        i.fa.fa-lock
    .template__icon
        i.fa.fa-map-marker
    .template__icon
        i.fa.fa-newspaper-o
    .template__icon
        i.fa.fa-plug
    .template__icon
        i.fa.fa-quote-right
    .template__icon
        i.fa.fa-reply-all
    .template__icon
        i.fa.fa-sign-in
    .template__icon
        i.fa.fa-toggle-on
    .template__icon
        i.fa.fa-tag
    .template__icon
        i.fa.fa-wifi
    .template__icon
        i.fa.fa-columns
    .template__icon
        i.fa.fa-eraser
    .template__icon
        i.fa.fa-file-text-o
    .template__icon
        i.fa.fa-scissors
    .template__icon
        i.fa.fa-table
    .template__icon
        i.fa.fa-unlink
    .template__icon
        i.fa.fa-align-justify
    .template__icon
        i.fa.fa-chain
    .template__icon
        i.fa.fa-copy
    .template__icon
        i.fa.fa-paperclip
    .template__icon
        i.fa.fa-align-left
    .template__icon
        i.fa.fa-floppy-o
    .template__icon
        i.fa.fa-th
    .template__icon
        i.fa.fa-youtube-play
    .template__icon
        i.fa.fa-amazon
    .template__icon
        i.fa.fa-android
    .template__icon
        i.fa.fa-apple
    .template__icon
        i.fa.fa-bitbucket
    .template__icon
        i.fa.fa-bitcoin
    .template__icon
        i.fa.fa-chrome
    .template__icon
        i.fa.fa-css3
    .template__icon
        i.fa.fa-facebook
    .template__icon
        i.fa.fa-firefox
    .template__icon
        i.fa.fa-git
    .template__icon
        i.fa.fa-github
    .template__icon
        i.fa.fa-html5
    .template__icon
        i.fa.fa-instagram
    .template__icon
        i.fa.fa-linux
    .template__icon
        i.fa.fa-opera
    .template__icon
        i.fa.fa-paypal
    .template__icon
        i.fa.fa-arrows
    .template__icon
        i.fa.fa-at
    .template__icon
        i.fa.fa-eyedropper
    .template__icon
        i.fa.fa-filter
    .template__icon
        i.fa.fa-globe
    .template__icon
        i.fa.fa-hourglass
    .template__icon
        i.fa.fa-keyboard-o
    .template__icon
        i.fa.fa-mouse-pointer
    .template__icon
        i.fa.fa-plus
    .template__icon
        i.fa.fa-random
    .template__icon
        i.fa.fa-shield
    .template__icon
        i.fa.fa-sign-out
    .template__icon
        i.fa.fa-headphones
    .template__icon
        i.fa.fa-language
    .template__icon
        i.fa.fa-phone
    .template__icon
        i.fa.fa-support
    .template__icon
        i.fa.fa-binoculars
    .template__icon
        i.fa.fa-cutlery
    .template__icon
        i.fa.fa-fire-extinguisher
    .template__icon
        i.fa.fa-plane
    .template__icon
        i.fa.fa-puzzle-piece
    .template__icon
        i.fa.fa-shopping-cart
    .template__icon
        i.fa.fa-spinner
    .template__icon
        i.fa.fa-trophy
    .template__icon
        i.fa.fa-lock
    .template__icon
        i.fa.fa-sliders
    .template__icon
        i.fa.fa-ticket
    .template__icon
        i.fa.fa-mars
    .template__icon
        i.fa.fa-venus
    .template__icon
        i.fa.fa-twitter
    .template__icon
        i.fa.fa-windows
    .template__icon
        i.fa.fa-skype
