table.datalist__table.table.datatable.display.table-hover(width='100%', data-orders='new')
    thead
        tr
            th.orders__id #ID
            th.orders__product Product
            th.orders__user User
            th.orders__date Date
            th.orders__salary Sum