.current-agent {
	margin-top: 22px;
	margin-right: -10% !important;
}

.brand-logo {
	margin-left: 22px;
}

.main-script {
	border-right-style: solid;
	border-color: lightgray;
	border-width: 1px;
	margin-bottom: 0%;
	margin-top: -28px;
}

.waiting-phone {
	margin-left: 35%;
	margin-top: 15%;
	font-size: 5px;
	font-size: 18em !important;
	opacity: .2;
}

.js-hang-up {
	margin-left: 84%;
	margin-top: 10%;
}

.red-power {
	color: #b71c1c;
}

.green-power {
	color: #66bb6a;
	margin-top: .2%;
	margin-left: -2%;
}