.current-agent {
	margin-top: 22px;
	margin-right: -10% !important;
}

.brand-logo {
	margin-left: 22px;
}

.main-script {
	border-right-style: solid;
	border-color: lightgray;
	border-width: 1px;
	margin-bottom: 0%;
	margin-top: -28px;
}

.waiting-phone {
	margin-left: 35%;
	margin-top: 15%;
	font-size: 5px;
	font-size: 18em !important;
	opacity: .2;
}

.main-buttons {
	margin-top: 3%;
}

/*.red-power {
	color: #b71c1c;
}

.green-power {
	color: #66bb6a;
}*/

.js-main-power {

}

.css-main-power {
	margin-top: 23px;
	margin-left: -4% !important;
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: #212121;
}

.current-call-main {
	min-height: 425px;
	max-height: 425px;
}

.caller-phone-number {
	margin-left: 35%;
}

.caller-left-info {
	margin-top: 2%;
	font-size: 35px;
}

.main-info {
	height: 450px;
	overflow-y: auto;
}

.caller-info-label {
	margin-left: 15%;
}

.notes-field {
	margin-bottom: 20px;
}




