nav.navbar.navbar-static-top.header-navbar
    .header-navbar-mobile
        .header-navbar-mobile__menu
            button.btn(type="button")
                i.fa.fa-bars
        .header-navbar-mobile__title
            span= page
        .header-navbar-mobile__settings.dropdown
                a.btn.dropdown-toggle(href='#', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                    i.fa.fa-power-off
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="/logout") Log Out
    .navbar-header
        a.navbar-brand(href="/admin")
            .logo.text-nowrap
                .logo__img
                    i.fa.fa-chevron-right
                span.logo__text NodeCall

    .topnavbar
        ul.nav.navbar-nav.navbar-left
            li(class=page=='Dashboard' ? 'active' : '')
                a(href="/admin")
                    span Dashboard
        ul.userbar.nav.navbar-nav
            li.dropdown
                a.userbar__settings.dropdown-toggle(href='', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                    span #{agent.first_name}
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="/app") Call Center
            li.dropdown
                a.userbar__settings.dropdown-toggle(href='', data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false")
                    i.fa.fa-power-off
                ul.dropdown-menu.dropdown-menu-right
                    li
                        a(href="/logout") Log Out